*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

main{

    width: 100%;
    background: #eee;
    border:dashed 1px red;
    min-height: 100vh;
    display: flex;
}

.kanban{

    flex:1;
    min-height: 100vh;
    border:1px solid #666;
}

.kanban textarea, .kanban button{
    width:100%;
    font-size:1.8em;
    padding:1%;
    color:black;
}

.inprogress{
    flex:1;
}

.taskTemplate, .clonedTaskTemplate{
    padding:1%;
    font-size:1.3em;
    background: rgb(166, 166, 240);
    min-height: 70px;
    width:100%;
    display:none;
}

.clonedTaskTemplate{
    display:block;

}